@font-face {
	font-family: 'BebasNeue Bold';
	src: url('../BebasNeue Bold.eot');
	src: url('../BebasNeue Bold.woff') format('woff'),
	url('../fonts/BebasNeue Bold.woff2') format('woff2'),
	url('../fonts/BebasNeue Bold.woff') format('woff'),
	url('../fonts/BebasNeue Bold.ttf') format('truetype'),
	url('../fonts/BebasNeue Bold.svg#BebasNeue Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gotham_proregular';
	src: url('../fonts/gothaproreg-webfont.eot');
	src: url('../fonts/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gothaproreg-webfont.woff') format('woff'),
	url('../fonts/gothaproreg-webfont.ttf') format('truetype'),
	url('../fonts/gothaproreg-webfont.svg#gotham_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_GothamNarrow-Medium';
	src: url('../fonts/Conv_GothamNarrow-Medium.eot');
	src: url('../fonts/Conv_GothamNarrow-Medium.woff') format('woff'),
	url('../fonts/Conv_GothamNarrow-Medium.ttf') format('truetype'),
	url('../fonts/Conv_GothamNarrow-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PFDinTextCondPro-Medium';
	src: url('../fonts/PFDinTextCondPro-Medium.eot');
	src: url('../fonts/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCondPro-Medium.woff') format('woff'),
	url('../fonts/PFDinTextCondPro-Medium.ttf') format('truetype'),
	url('../fonts/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AG_Futura Bold';
	src: url('../fonts/AG_Futura Bold.eot');
	src: url('../fonts/AG_Futura Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AG_Futura Bold.woff') format('woff'),
	url('../fonts/AG_Futura Bold.ttf') format('truetype'),
	url('../fonts/AG_Futura Bold.svg#AG_Futura Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	margin:0;
	color:#000;
	background:#0b0b0b;
	min-width:1000px;
	font:22px/24px 'PFDinTextCondPro-Medium', Arial, Helvetica, sans-serif;
}
img{border-style:none;} 
a{
	text-decoration:none;
	color:#fd8701;
}
a:hover{text-decoration:underline;}
a:active {background-color:transparent;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,
fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
input[type=submit]:hover{cursor:pointer;}
button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner{
	padding:0;
	border:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
figure{
	margin:0;
	padding:0;
}
#wrapper{
	width:100%;
	background:#fff;
}
.wrap-holder{
	width:1282px;
	margin:0 auto;
}
.layout-center{
	width:1282px;
	margin:0 auto;
}
.text-center{text-align:center;}
.border-box{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.alignleft{float:left;}
.alignright{float:right;}
/* top-nav */
.btn{
	color:#fff;
	background:#fd8701;
	line-height:29px;
	height:29px;
	border-radius:20px;
	padding:0 18px;
	text-transform:uppercase;
	font:bold 12px/30px 'Conv_GothamNarrow-Medium' , Arial, Helvetica, sans-serif;
}
.btn .ico{
	background: url(../images/arrow.gif) no-repeat;
	width: 11px;
	height: 12px;
	float:left;
	margin:8px 9px 0 0;
}
.btn-join{
	background:#000;
	border-radius:0 30px 30px 0;
	overflow:hidden;
	float:left;
	clear:both;
	text-transform:uppercase;
	padding:0 56px 0 38px;
	margin:0 0 20px -20px;
	font:26px/69px 'AG_Futura Bold' , Arial, Helvetica, sans-serif;
}
.btn-join .ico{
	background: url(../images/bg-ico.png) no-repeat;
	width: 84px;
	height: 69px;
	float:left;
	margin-right:41px;
}
.btn-large{
	font:26px/55px 'AG_Futura Bold' , Arial, Helvetica, sans-serif;
	border-radius:40px;
	color:#fff;
	padding:0 50px;
	text-transform:uppercase;
	display:inline-block;
}
.bg-blue{background:#0e97de;}
.bg-dark{background:#000;}
.color-orange{color:#fd8701;}
/* after */
.tool-row:after,
.gallery-holder:after,
.block-join-frame:after,
#main:after,
.layout-center:after,
#header:after{
	content:"";	display:block;	clear:both;
}
/* header */
#header{padding:40px 0 14px;}
#header .btn{margin:0 27px;}
.header-holder{
	float:left;
	margin:0 0px 0 56px;
}
.logo{
	text-indent:-9999px;
	overflow:hidden;
}
.logo a{
	display:block;
	height:100%;
}
#header .logo{
	background: url(../images/logo-top.png) no-repeat;
	width: 121px;
	height: 70px;
	margin:-20px 33px 0;
	float:left;
}
/* top-nav */
.top-nav{float:left;}
.top-nav ul{
	list-style:none;	margin:0;	padding:0;
	font:bold 12px/30px 'Conv_GothamNarrow-Medium' , Arial, Helvetica, sans-serif;
}
.top-nav.alignright{float:right;}
.top-nav li{
	float:left;
	margin:0 20px;
}
.top-nav a{
	float:left;
	background:#000;
	color:#fff;
	border-radius:20px;
	padding:0 31px;
	text-transform:uppercase;
}
.top-nav .active a,
.top-nav a:hover{
	background:#fd8701;
	text-decoration:none;
}
.top-nav .autor{margin:-5px 20px 0 0;}
.user-avatar{
	display:inline-block;
	vertical-align:middle;
	border-radius:50%;
	margin:0 4px 0 0;
}
/* main */
#main{padding:0 0 0 20px;}
#main h2{
	font:287px/300px 'BebasNeue Bold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:0;
}
/* block-join */
#main .block-join h2{
	font:299px/300px 'BebasNeue Bold', Arial, Helvetica, sans-serif;
	margin:0 0 -44px;
}
#main .block-join .text-small{font-size:256px;}
#main .text-great{
	font-size:342px;
	line-height:350px;
}
#main .text-large{font-size:300px;}
.block-join-holder{
	position:relative;
	background: url(../images/bg-block-join-holder.jpg) no-repeat 100% 100%;
	padding:48px 595px 0 0;
	min-height: 393px;
}
.btn-overloads{
	background: url(../images/btn-overloads.png) no-repeat;
	width: 144px;
	height: 144px;
	text-indent:-9999px;
	float:left;
	border-radius:50%;
	margin:0 38px 0 11px;
}
.block-join-holder .description{
	text-transform:uppercase;
	overflow:hidden;
	letter-spacing:-1px;
}
.block-join-frame{padding:0 0 41px;}
.block-join-holder .description p{margin:0 0 25px;}
#main mark{
	background:none;
	color:#fd8701;
}
.main-block{padding:85px 0 60px;}
.main-block p{
	text-transform:uppercase;
	margin:0 0 25px;
}
.text-info{
	width:610px;
	letter-spacing:-1px;
	margin: -32px 0 0;
}
.main-block .text{
	background: url(../images/arrow01.gif) no-repeat 100% 50%;
	padding:0 25px 0 0;
	float:left;
	margin:109px 20px 0 0;
	letter-spacing:-1px;
}
.panel{
	overflow:hidden;
	margin:-61px 94px 20px;
}
.panel .btn-holder{float:left;}
.decor01{
	background: url(../images/decor01.jpg) no-repeat 50% 0;
	padding:96px 0 0;
}
/* item-list */
.item-list{
	list-style:none;	margin:0 0 0 -13px;	padding:27px 0;
	font:12px/16px 'gotham_proregular', Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.item-list li{
	float:left;
	width:293px;
	margin:0 0 20px 20px;
}
.item-list .img-ico{
	vertical-align:middle;
	margin-right:15px;
}
.main-block .item-list p{
	text-transform:lowercase;
	display:inline-block;
	width:138px;
	vertical-align:middle;
}
/* gallery-holder */
.gallery-holder{margin:0 0 40px;}
.gallery-holder img{vertical-align:top;}
.gallery{
	float:left;
	width:1051px;
	position:relative;
}
.gallery .mask{
	overflow:hidden;
	width:1055px;
}
.gallery .mask .slide{
	float:left;
	position:relative;
}
.gallery .decor{
	top:0;
	left:0;
	position:absolute;
	background: url(../images/decor02.png);
	z-index:10;
	width:100%;
	height:100%;
	opacity:0;
}
.share img{vertical-align:top;}
.gallery .share{
	background:#fff;
	border-radius:20px;
	position:absolute;
	bottom:11px;
	left:14px;
	width:182px;
	padding:9px;
	text-align:center;
}
.gallery .slide:hover .decor{opacity:1;}
.gallery-holder .user{
	float:left;
	position:relative;
}
.gallery-holder .tooltip{
	left:38px;
	bottom:-44px;
	position:absolute;
	width:128px;
	height: 30px;
	padding: 0;
	background: #fd8701;
	border-radius:20px;
	color:#fff;
	text-align:center;
	font: 15px/30px 'AG_Futura Bold' , Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.gallery-holder .tooltip:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 4px 8px;
	border-color:transparent transparent #fd8701 transparent;
	display: block;
	width: 0;
	top: -8px;
	left: 60px;
}
.control-holder{
	z-index:20;
	position:absolute;
	bottom: -55px;
	left: 267px;
}
.control-holder .prew,
.control-holder .next{
	text-indent:-9999px;
	overflow:hidden;
	background: url(../images/sprite-arrow.png) no-repeat;
	width:96px;
	height:96px;
	display:inline-block;
	margin:0 12px;
}
.control-holder .next{background-position:100% 0;}
/* four-columns */
.four-columns{
	overflow:hidden;
	padding:20px 0 10px;
	margin:0 0 0 -9px;
}
.four-columns .column{
	float:left;
	width:295px;
	margin-left:9px;
	font:12px Arial, Helvetica, sans-serif;
}
.four-columns .box-holder{overflow:hidden;}
.four-columns .box{
	border:1px solid #939393;
	margin-bottom:9px;
	background:#e1e1e1;
}
.four-columns .box-holder .box{
	float:left;
	width:141px;
}
.four-columns .box-holder .box:first-child{margin-right:9px;}
.four-columns .holder{
	border-bottom:1px solid #939393;
	background:#fff;
	margin-bottom:3px;
}
.four-columns .holder img{vertical-align:top;}
.four-columns .txt-holder{padding:5px;}
.four-columns .description{
	font-size:9px;
	padding:0 8px 5px;
}
.four-columns .box-holder .description{padding:0 8px;} 
.four-columns p{margin:0;}
.four-columns .tool-row p{
	float:left;
	max-width:230px;
}
.four-columns a{
	color:#000;
	text-decoration:underline;
}
.four-columns a:hover{text-decoration:none;}
.four-columns .resource{float:right;}
.four-columns .box-holder .tool-row p{max-width:93px;}
/* custom-form */
.custom-form{
	overflow:hidden;
	margin:0 0 20px;
}
.custom-form .text-holder{
	letter-spacing:-1px;
	text-transform:uppercase;
	float:left;
	width:785px;
	font:22px/24px 'PFDinTextCondPro-Medium', Arial, Helvetica, sans-serif;
}
.custom-form .text-holder mark{font-size:32px;}
/* custom file input */
.file-area .jcf-input-wrapper {
	position: relative;
	overflow: hidden;
	float: left;
}
.file-area .jcf-upload-button {
	text-transform:uppercase;
	font:26px/55px 'AG_Futura Bold' , Arial, Helvetica, sans-serif;
	padding:0 55px;
	background: #000;
	border-radius:30px;
	color:#fd8701;
	float: left;
	height:55px;
}
/* footer */
#footer {text-align: center;}
#footer .layout-center{padding:10px 20px;}
.logo-group{
	background: url(../images/logo-group.gif) no-repeat;
	width: 101px;
	height: 25px;
	float:left;
}
.logo-cbt{
	background: url(../images/logo-cbt.gif) no-repeat;
	width: 43px;
	height: 15px;
	float:right;
	margin:4px 0 0;
}
.footer-nav{
	display:inline-block;
	margin:0 auto;
	vertical-align:top;
}
.footer-nav ul{
	font:bold 12px/30px  Arial, Helvetica, sans-serif;
	list-style:none;
	margin:0;
	padding:0 83px 0 0;
	overflow:hidden;
	text-align:center;
	color:#fff;
}
.footer-nav li{display:inline-block;}
.footer-nav li:before{
	content:' | ';
	margin:0 15px 0 12px;
}
.footer-nav li:first-child{margin:0 0 0 -17px;}
.footer-nav a{color:#fff;}
#footer .share{
	display:inline-block;
	margin:5px 30px 0;
}